[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gongwenxian
	email = gongwenxian123@163.com
	emal = gongwenxian123@163.com
